# Application Settings
APP_PORT=3000
APP_URL=http://localhost:3000
APP_DEBUG=true

APP_ID=741c1afa-19cd-4930-9ca1-16156abecc57
APP_SECRET=c4db9a6ab9d85514d26a2fa0a6ae91ace77b649523eb9dc5b3abb111665a6bd5651ce446c87018e8

# Database settings
DB_DIALECT=mysql
DB_HOST=localhost
DB_NAME=db_name
DB_USERNAME=db_user_name
DB_PASSWORD=db_password
DB_PORT=3306
DB_DEBUG=true
DB_POOL_CONNECTION_LIMIT=2

# Session settings
SESSION_DRIVER=file

NODE_ENV=development
NODE_ENVIRONMENT=development
